.nav{
    display: inline;
    text-align: right;
    color: white;
}

#header{
    background-color: rgb(44, 44, 44);
    color: white;
}

.footer{
    background-color: rgb(44, 44, 44);
    color: white;
    text-align: center;
}

#tab-adresse{
    display: inline;
}

#tab-contact{
    display: inline;
}

.description{
    display: inline;
<<<<<<< HEAD
}

.teasing-evenement{
    display: flex;
    column-gap: 3rem;
    padding: 30px;
    border: 1px;
    border-color: black;
=======
>>>>>>> b9f12d81c30efec75d34b83966532e32300701b3
}