.nav{
    display: inline;
    text-align: right;
    color: white;
}

#header{
    background-color: rgb(44, 44, 44);
    color: white;
}

.footer{
    background-color: rgb(44, 44, 44);
    color: white;
    text-align: center;
}

#tab-adresse{
    display: inline;
}

#tab-contact{
    display: inline;
}

.description{
    display: inline;
}