#h1-title{
    font-size: 3rem;
    padding-left: 1rem;
}

.nav-bar{
    display: flex;
    position: relative;
    left: 67rem;
    color: white;
}

.nav-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.5rem;
    padding-right: 2.5rem;
    text-decoration: none;
    }

#header{
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

.footer{
    background-color: rgb(44, 44, 44);
    color: white;
    display: flex;
    height: 12rem;
    border-radius: 10px;
}

.logo{
    font-size: 40px;
    text-align: center;
    padding: 1rem 0 0 6rem;
}

.footer-txt{
    padding-right: 20rem;
    text-align: center;
    position: relative;
    left: 30rem;
}

.footer-title{
    font-size: 28px;
}

.footer-data{
    font-size: 20px;
}

.description{
    display: inline;
}

.teasing-evenement{
    display: flex;
    column-gap: 2rem;
    padding: 3rem;
    border-top: 1px solid rgb(228, 228, 228);
    width: 30rem;
}

#img-evenement-marquant{
    width: 45rem;
}

.teasing-general{
    display: flex;
    padding: 5rem;
    column-gap: 2rem;
}

.txt-teasing-general{
padding: 1rem 0 0 10rem;

}

.titre-teasing-general{
    font-size: 3rem;
}

.date{
    background-color: black;
    color: white;
    padding: 4px;
}